/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.menu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width:100%;
position: fixed;
right: 0;
left: 0;
z-index: 1030;
margin-bottom: 0;
top: 0;

}

.menu ul{
list-style:none;
background:#86c43f;
margin:0;
padding:0;
}

.menu li{
display:inline-block;
float:left;
}

.menu li:first-child{
margin-left:5px;
}

.menu a{
display:block;
padding:10px;
text-decoration:none;
color:#2d2d2d ;
border-top:2px solid transparent;
}

.menu a:hover,
.menu li.active a{
background:#abd679;
color:#00853f;
border-top:2px solid #ff4800;
}

.clearFloat{
clear:both;
}
 
 body {
height: 100%;
width: 100%;
overflow: hidden;
margin: 0px;
background: url("/assets/body-bg.png");
padding-top: 41px;
}
